.btn {
  border-radius: 4px;
  padding: 8px 20px;
  font-weight: 500;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  min-width: 72px;
  transition: all 0.2s;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  
  &.primary {
    background: #185197;
    color: #fff;
    &:hover, &.hover { background: #144580; }
    &:active, &.active { background: #11396A; }
    &:focus, &.focused { box-shadow: 0 0 0 2px #fff, 0 0 0 4px #23b2ab; outline: none; }
    &:disabled { background:  #686e72; color: #fff; }
  }

  
  &.secondary {
    background: #fff;
    color: #000;
    border: 1px solid #8e9295;
    &:hover, &.hover { background: #e8eef5; border-color: #185197; }
    &:active, &.active { background: #c5d4e5; border-color: #185197; }
    &:focus, &.focused { box-shadow: 0 0 0 2px #fff, 0 0 0 4px #23b2ab; outline: none; }
    &:disabled { background: #fff; border-color: #d9dbdc; color: #8e9295; }
  }


  &.tertiary {
    background: transparent;
    color: #000;
    border: 1px solid transparent;
    &:hover, &.hover { background: #e8eef5; border-color: #185197; }
    &:active, &.active { background: #c5d4e5; border-color: #185197; }
    &:focus, &.focused { box-shadow: 0 0 0 2px #fff, 0 0 0 4px #23b2ab; outline: none; }
    &:disabled { background: transparent; color: #8e9295; }
  }

  
  &.warning {
    background: #fff1c4;
    color: #000;
    &:hover, &.hover { background: #fee289; border: 1px solid #886c0a; }
    &:active, &.active { background: #fed44d; border: 1px solid #886c0a; }
    &:focus, &.focused { box-shadow: 0 0 0 2px #fff, 0 0 0 4px #23b2ab; outline: none; }
    &:disabled { background: #f0f1f1; color: #686e72; }
  }

  
  &.negative {
    background: #fcd6d2;
    color: #000;
    &:hover, &.hover { background: #f8ada5; border: 1px solid #853229; }
    &:active, &.active { background: #f58377; border: 1px solid #853229; }
    &:focus, &.focused { box-shadow: 0 0 0 2px #fff, 0 0 0 4px #23b2ab; outline: none; }
    &:disabled { background: #f0f1f1; color: #686e72; }
  }

  
  &.positive {
    background: #c8e1cc;
    color: #000;
    &:hover, &.hover { background: #91c49a; border: 1px solid #134b1d; }
    &:active, &.active { background: #5aa667; border: 1px solid #134b1d; }
    &:focus, &.focused { box-shadow: 0 0 0 2px #fff, 0 0 0 4px #2382a0; outline: none; }
    &:disabled { background: #f0f1f1; color: #686e72; }
  }

  
  &.highlight {
    background: #cceef8;
    color: #000;
    &:hover, &.hover { background: #99dcf2; border: 1px solid #1c667d; }
    &:active, &.active { background: #65cbe8; border: 1px solid #1c667d; }
    &:focus, &.focused { box-shadow: 0 0 0 2px #fff, 0 0 0 4px #2382a0; outline: none; }
    &:disabled { background: #f0f1f1; color: #686e72; }
  }
}
